upstream foreman {
  server localhost:5000;
  server localhost:5001;
  server localhost:5002;
  server localhost:5003;
}

server {
  listen 4000;
  client_max_body_size 2G;

  location / {
    proxy_pass http://foreman;
  }
}